.intro-manga {
  width: 85%;
  margin: 0 auto;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .intro-text {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      color: #5f4ecb;
      padding: 0;
      margin: 0;
    }
    h2 {
      padding: 0;
      margin: 0;
      color: #313235;
      font-size: 90px;
    }
    button {
      width: 110px;
      height: 55px;
      margin: 5px;
      border-radius: 5px;
      font-size: 15px;
      font-family: "EB Garamond", serif;
      transition: all 0.4s ease-in-out;
      &:hover {
        color: #5f4ecb;
        background-color: white;
        border: #5f4ecb 2px solid;
      }
    }
    .btn-1 {
      background-color: #5f4ecb;
      color: white;
      border: none;
    }
    .btn-2 {
      color: #5f4ecb;
      border: #5f4ecb 2px solid;
      &:hover {
        background-color: #5f4ecb;
        color: white;
        border: none;
      }
    }
  }
  .intro-image {
    width: 38%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.intro-author {
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 60px;
  .intro-author--image {
    width: 42%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .intro-author--text {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      color: #5f4ecb;
      padding: 0;
      margin: 0;
    }
    h2 {
      padding: 0;
      margin: 0;
      color: #313235;
      font-size: 90px;
    }
    button {
      width: 110px;
      height: 55px;
      margin: 5px;
      border-radius: 5px;
      font-size: 15px;
      font-family: "EB Garamond", serif;
      transition: all 0.4s ease;
      &:hover {
        background-color: #5f4ecb;
        color: white;
        border: none;
      }
    }
    .btn-1 {
      background-color: #5f4ecb;
      color: white;
      border: none;
    }
    .btn-2 {
      color: #5f4ecb;
      border: #5f4ecb 2px solid;
    }
  }
}
.awards {
  width: 85%;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  .award {
    width: 22%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .award-logo {
      width: 90%;
      height: 20%;
      background-repeat: no-repeat;
      background-size: contain;
    }
    h4 {
      padding: 0;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: #313235;
    }
    span {
      font-size: 14px;
    }
  }
}
.mangas {
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 25px;
    padding: 0;
    font-size: 50px;
    text-align: center;
  }
  span {
    width: 60%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
  }
  .intro-manga {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .manga {
      width: 23%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .manga-cover {
        width: 100%;
        height: 83.5%;
        background-size: cover;
      }
      .manga-category {
        font-size: 15px;
      }
      .manga-name {
        font-size: 17px;
        font-weight: bold;
      }
      .manga-price {
        font-size: 16px;
      }
    }
  }
}
.shop-all {
  width: 85%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  button {
    width: 170px;
    height: 60px;
    color: #5f4ecb;
    border-radius: 8px;
    font-size: 16px;
    border: #5f4ecb 1px solid;
    cursor: pointer;
    font-family: "EB Garamond", serif;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-color: #5f4ecb;
      color: white;
      border: none;
    }
  }
}
.video-background {
  background: #000;
  position: relative;
  width: 100%;
  height: 100vh;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
