nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: #565a61;
    &.router-link-exact-active {
      color: #36363d;
      font-weight: bold;
    }
  }
  .nav_bar {
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-size: 30px;
      font-weight: bold;
      padding: 0;
      margin: 0;
    }
    ul {
      width: 30%;
      height: 80%;
      background-color: azure;
      position: relative;
      left: -80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;
        font-size: 18px;
      }
    }
    i {
      font-weight: bold;
      font-size: 25px;
      cursor: pointer;
    }
  }
}
.cart-side {
  width: 35%;
  height: 100vh;
  background-color: aqua;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 0px;
}
