.orders {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 100px auto;
  span {
    font-weight: bold;
    font-size: 40px;
    position: relative;
    left: -540px;
    top: -20px;
  }
  table {
    width: 90%;
    height: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    .quantity {
      width: 40px;
      height: 30px;
      border: 1px solid #ddd;
      text-indent: 5px;
    }
    .coupon td {
      padding: 20px;
      input {
        height: 30px;
        margin-right: 10px;
        text-indent: 10px;
        font-family: "EB Garamond", serif;
      }
      button {
        height: 36px;
        margin-right: 10px;
        font-family: "EB Garamond", serif;
        width: 150px;
        border: 1px solid #5f4ecb;
        color: rgb(115, 31, 193);
        cursor: pointer;
        border-radius: 5px;
        &:hover {
          background-color: #5f4ecb;
          color: white;
        }
      }
      .update {
        float: right;
      }
    }
    .image {
      width: 100px;
      height: 120px;
      background-size: cover;
    }
    .tr th {
      padding: 20px;
      font-weight: normal;
    }
    th {
      padding: 20px;
    }
    .th {
      display: flex;
      justify-content: space-around;
      align-items: center;
      i {
        cursor: pointer;
      }
    }
    tr td {
      border: none;
      border-bottom: 1px solid #ddd;
    }
    tr th {
      border: none;
      border-bottom: 1px solid #ddd;
    }
  }
  .totall {
    height: 80px;
    position: relative;
    right: -820px;
    font-size: 25px;
  }
}
